body{
    text-align: center;
    background-color:deeppink;
}
div{
    margin-top: 15px;
    justify-content: center;
}
.images{
    display:flex;
     justify-content: center;
}
.section {
   margin-left: 25px;
    margin-left: 25px;
   
    
}
p{
     background-color: aliceblue;
}
#date{
    color: darkslategray;
}